
table{
    width:500; margin-left:auto; margin-right:auto;
}

table, td, th{
    border:1px solid #ADD8E6 cellspacing="5px"
}


h1{
    text-align:center;
}

th{
    background-color:#FFDEAD;
}

td{
    background-color:#ADD8E6; 
}

body{
    background-color: yellow;
}



