* {
  margin: 0;
  padding: 10;
} /* All 선택자*/
ul {
  list-style-type: none;
} /* Tag 선택자*/
h1 {
  color: blue;
}
#first {
  background-color: aqua;
}
#second {
  background-color: lime;
}
.legend_bg {
  background-color: orange;
}
button {
  font-size: 20px;
  background-color: blue;
}
input[type="submit"] {
  font-size: 20px;
  background-color: deeppink;
}
input[type="tel"] {
  font-size: 25px;
  background-color: yellow;
}
input[type*="tex"] {
  font-size: 25px;
  background-color: green;
}
input[type^="em"] {
  background-color: olive;
}
input[type$="word"] {
  background-color: red;
  color: white;
}
